.container-breadcrum{
    padding-top:16px;
    padding-bottom:16px;
    width: 100%;
    display: flex;
    justify-content: center;

    .breadcrum{
        width: 80%;
        color:#c7c7c7;
    }
}