$secondary-color:#FFE600;
$gray-darker:#333333;
$gray-dark:#666666;
$gray-light:#999999;
$gray-lighter:#EEEEEE;
$accent-color:#3483FA;

$space:16px;
$space-upper:32px;

$font-size-na:12px;
$font-size-sm:14px;
$font-size-sm-upper:16px;
$font-size-mid:18px;
$font-size-mid-upper:24px;
$font-size-big:28px;
$font-size-big-upper:46px;

$corner-radius:4px;