@import '../../mixings.scss';

.container-breadcrum{
    background-color: $gray-lighter;
    padding-top:$space;
    padding-bottom:$space;
    width: 100%;
    display: flex;
    justify-content: center;

    .breadcrum{
        width: 80%;
        color:$gray-light;
    }
}