@import '../../../mixings.scss';

.product-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

.row-product{
    display: flex;
    background-color: white;
    padding-top: $space;
    padding-bottom: $space;
    padding-left: $space;    

    .img-product{
        width: 180px;
        height: 180px;
        border-radius: $corner-radius;        
    }

    .img-product:hover {
        cursor: pointer;
    }

    .product-info{
        flex:1;
        display: flex;
        .left-price-title{
            width: 50%;
            padding-top: $space;
            padding-left: $space;

            .price-container{
                display: flex;
                font-size: $font-size-mid-upper;
                .price{
                    width:auto;
                }
    
                .shipping-container{
                    flex:1;
                    padding-left: 8px;
                }
            }

            .title{
                padding-top: $space-upper;
                font-size: $font-size-mid;
            }

            .title:hover {
                cursor: pointer;
            }

            
        }

        .right-location{
            flex:1;
            font-size: $font-size-na;
            color:$gray-light;
            text-align: right;
            padding-top: $space-upper;
            text-align: center;
        }
    }



    

}



}

.divider{
    width: 100%;    
    float: left;
    
     .inner{
        margin-top: 0px;
        border-bottom: 1px solid $gray-lighter;
        width: 96%;
        margin-right: auto;
        margin-left: auto;   
     }
}


.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}