.nav-bar{
    background-color:#FFE600;
    height: 56px;
    justify-content: center;    

    .search-block{
        padding-top:9px;
        padding-bottom:9px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:80%;
        display: flex;

        .logo{
            width: 54px;
            margin-right: 25px;
        }
    
        .search-input{
            flex:1;         
            border-radius: 4px;
            border-style: none;
            padding-left: 15px;
            font-size: 18px;
        }
    }

    

}